@{
    ViewData["Title"] = "Employee Page";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" href="/Employee/Create">
                <i class="fa-sharp fa-solid fa-plus"></i>  Create New
            </a>
        </div>
    </div>
    <br/>
  <table class="table table-bordered" id="t1">
      <thead>
          <tr>
              <th>Employee Name</th>
              <th>Date Of Birth</th>
              <th>Phone Number</th>
              <th>Position</th>
              <th>Department</th>
              <th>Address</th>
              <th></th>
          </tr>
      </thead>
      <tbody></tbody>
  </table>
</div>
@section Scripts{
    <script>
        var baseUrl = "https://localhost:7047/api/";
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: baseUrl+"Employee",
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    $.each(data,function (i, v) {
                        console.log(i);
                        var row = "<tr><td>" + v.employeeName;
                        row += "</td><td>" + v.dateOfBirth;
                        row += "</td><td>" + v.phoneNumber;
                        row += "</td><td>" + v.position["positionName"];
                        row += "</td><td>" + v.department["departmentName"];
                        row += "</td><td>" + v.address;
                        row += '</td><td><a><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>';
                        row += '| <a class="btn btn-danger" onClick=Delete("'+ v.employeeId +'"); hre="#"><i class="fa-sharp fa-solid fa-trash"></i></a></td></tr>';
                        $("#t1").append(row);
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        function Delete(id) {
            var result = confirm("Do you want to delete?");
            if (result) {
                $.ajax({
                    method: "DELETE",
                    url: baseUrl + "Employee/" + id,
                    success: function (response) {
                        window.location.reload();
                    }, error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
    </script>
}

